langchain
langchain_core
langchain_anthropic
langchain_openai
tavily_python
langchain_community
langchain-groq
langgraph
python-dotenv
fastapi
uvicorn
jinja2
pydantic
tavily_python
beautifulsoup4
openai
reportlab
aiohttp
ipython
primp==0.11.0
nba_api
python-mlb-statsapi
langgraph-supervisor
langchain-openai