<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Specify the character encoding -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PocketTraveller</title>
  <!-- Favicon -->
  <link rel="icon" href="/static/images/logo.png" type="image/png">
  <link rel="stylesheet" href="/static/css/satoshi.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
        integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
        crossorigin="anonymous" />
</head>
<body>
  <header id="site-header"></header>
  <main id="hero-section" ></main>
  <footer id="site-footer"></footer>
  
  <!-- Include UI scripts -->
  <script src="/static/js/header.js"></script>
  <script src="/static/js/ui/marquee.js"></script>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/footer.js"></script>
</body>
</html>
